*{
    box-sizing: border-box;
}
/********************HEADER*************************/

#logo {
    vertical-align: middle;
    height: 65px;

}


#logo-contenitore{
    background-color: rgb(255, 255, 255);
    line-height: 65px;
    font-size: 35px;
    font-family: 'arial', Courier, monospace;
    
}
/**************************MAIN********************************/
body{
    background-color: rgb(199, 199, 199);
}
.pagina{
    
    width: 50%;
    margin: 2% auto;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}
.bottone{
    border-width: 1px 1px;
    border-style: solid;
   border-radius: 6px;
    padding: 5px;
}
/**************************bottoni selezionati/non selezionati********************************/
.allowed{
    background-color: rgb(0, 119, 255);
    color: rgb(255, 255, 255);
    
    
}
.not-allowed{
    color:rgb(156, 154, 154);
    font-style: italic;
}
/**************************cose fatte/ cose non fatte********************************/
.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(30, 255, 0);
    color: rgb(0, 255, 42);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
   

}

.not-check{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}
/**************************testo********************************/
.testo{
vertical-align: middle;
line-height: 20px;
font-family: Arial, Helvetica, sans-serif;
}
/**************************rettangoli*******************************/
.editorial{
    display: inline-block;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    width: 70px;
    height: 20px;
    text-align: center;
    border-radius: 9px;
    font-size: small;
}
.Q1{
    display: inline-block;
    border: 1px solid purple;
    background-color: purple;
    color: white;
    width: 70px;
    height: 20px;
    text-align: center;
    border-radius: 9px;
    font-size: small;
}
.rec{
    display: inline-block;
    border: 1px solid green;
    background-color: green;
    color: white;
    width: 70px;
    height: 20px;
    text-align: center;
    border-radius: 9px;
    font-size: small;
}
.mobile{
    display: inline-block;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    width: 70px;
    height: 20px;
    text-align: center;
    border-radius: 9px;
    font-size: small;
}
.web{
    display: inline-block;
    border: 1px solid rgb(206, 87, 127);
    background-color: rgb(206, 87, 127);
    color: white;
    width: 70px;
    height: 20px;
    text-align: center;
    border-radius: 9px;
    font-size: small;
}
.sales{
    display: inline-block;
    border: 1px solid rgb(75, 172, 80);
    background-color: rgb(75, 172, 80);
    color: white;
    width: 70px;
    height: 20px;
    text-align: center;
    border-radius: 9px;
    font-size: small;
}
